/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-default.btn-outline {
    color: #c0c0c0;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/*Application CSS*/
.med-margin-top {
  margin-top: 20px; 
}

.med-margin-bottom {
  margin-bottom: 20px;
}

.small-margin-right { 
  margin-right: 10px;
}

.xsmall-margin-left {
  margin-left: 5px;
}

.small-margin-left { 
  margin-left: 10px;
}

.med-margin-left {
  margin-left: 20px;
}

.large-margin-left {
  margin-left: 35px;
}

.short { 
  width: 100px !important; 
}

/*Bootstrap nav overrides*/
.navbar {
    margin: 0;
    padding: 0;
    height: 50px;
}

.nav-logo {
    width: 15%;
    height: 50px;
    object-fit: cover;
}

img {
    vertical-align: inherit;
}