
.content-main {
    margin-left: 20%;
    position: relative;
    margin-top: 50px;
}

.content-main h3 {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

li{
    font-size: 24pt;
}

h2{
    font-family: "Segoe UI", sans-serif;
    color: #080808;
}

.pageText{
    font-size: 14pt;
    font-family: "Segoe UI", serif;
    color: #5C6670;
}


.squareButtons{
    width: 5%;
    height: 5%;
    background-color: #F0F0F0;
    display: inline-block;
    border: 1px #111111;
    margin-left: 10%;
}
.cornerButton{
    positon:fixed;
    right:0;
    bottom: 0;
}
.squareButtons:focus{
    background-color: #8C1D40;
}

.striped-table>tbody>tr:nth-child(odd)>td,
.striped-table>tbody>tr:nth-child(odd)>th {
    background-color: #FFC627;
}

.striped-table>tbody>tr:nth-child(even)>td,
.striped-table>tbody>tr:nth-child(even)>th {
    background-color: #ffffff;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

