.login-container {
  margin-top: 8%;
}

.login-card {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.login-form {
  max-width: 420px;
  margin: auto;
  padding: 2rem 4rem;
}

.login-button {
  background-color: #8c1d40;
  color: #ffc627;
}

.tc-img-link {
  width: 20%;
  height: auto;
  min-width: 160px;
  max-width: 250px;
}

.asu-link {
  text-align: left;
  color: #8c1d40 !important;
}

.asu-link-active {
  text-align: left;
  color: #8c1d40 !important;
  font-weight: 600 !important;
}
